html {
  overflow-y: scroll;
}
 
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
 
:root body {
  position: absolute;
}
 
body {
  width: 100vw;
  background: url('../components/images/Background.png') no-repeat center center fixed;
  background-size: cover;
}

.content {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
  background: rgba(255, 255, 255, 0);
  position: relative;
}